# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.build/
.pytest_cache/
.mypy_cache/

# Environments
.env
.venv/
venv/
ENV/

# OS / Editors
.DS_Store
.idea/
.vscode/

# Build / Dist
dist/
build/
htmlcov/
coverage.xml
.coverage*
